
.gitignore/ProyectoFinal-1/AppCoder/__init__.py
.gitignore/ProyectoFinal-1/AppCoder/__pycache__/__init__.cpython-312.pyc
.gitignore/ProyectoFinal-1/AppCoder/__pycache__/admin.cpython-312.pyc
.gitignore/ProyectoFinal-1/AppCoder/__pycache__/apps.cpython-312.pyc
.gitignore/ProyectoFinal-1/AppCoder/__pycache__/models.cpython-312.pyc
.gitignore/ProyectoFinal-1/AppCoder/__pycache__/urls.cpython-312.pyc
.gitignore/ProyectoFinal-1/AppCoder/__pycache__/views.cpython-312.pyc
.gitignore/ProyectoFinal-1/AppCoder/admin.py
.gitignore/ProyectoFinal-1/AppCoder/apps.py
.gitignore/ProyectoFinal-1/AppCoder/migrations/__init__.py
.gitignore/ProyectoFinal-1/AppCoder/migrations/__pycache__/__init__.cpython-312.pyc
.gitignore/ProyectoFinal-1/AppCoder/models.py
.gitignore/ProyectoFinal-1/AppCoder/templates/AppCoder/padre.html
.gitignore/ProyectoFinal-1/AppCoder/tests.py
.gitignore/ProyectoFinal-1/AppCoder/urls.py
.gitignore/ProyectoFinal-1/AppCoder/views.py
.gitignore/ProyectoFinal-1/db.sqlite3
.gitignore/ProyectoFinal-1/manage.py
.gitignore/ProyectoFinal-1/ProyectoFinal/__init__.py
.gitignore/ProyectoFinal-1/ProyectoFinal/__pycache__/__init__.cpython-312.pyc
.gitignore/ProyectoFinal-1/ProyectoFinal/__pycache__/settings.cpython-312.pyc
.gitignore/ProyectoFinal-1/ProyectoFinal/__pycache__/urls.cpython-312.pyc
.gitignore/ProyectoFinal-1/ProyectoFinal/__pycache__/wsgi.cpython-312.pyc
.gitignore/ProyectoFinal-1/ProyectoFinal/asgi.py
.gitignore/ProyectoFinal-1/ProyectoFinal/settings.py
.gitignore/ProyectoFinal-1/ProyectoFinal/urls.py
.gitignore/ProyectoFinal-1/ProyectoFinal/wsgi.py
.gitignore/ProyectoFinal-2/AppCoder/__init__.py
.gitignore/ProyectoFinal-2/AppCoder/__pycache__/__init__.cpython-312.pyc
.gitignore/ProyectoFinal-2/AppCoder/__pycache__/admin.cpython-312.pyc
.gitignore/ProyectoFinal-2/AppCoder/__pycache__/apps.cpython-312.pyc
.gitignore/ProyectoFinal-2/AppCoder/__pycache__/models.cpython-312.pyc
.gitignore/ProyectoFinal-2/AppCoder/__pycache__/urls.cpython-312.pyc
.gitignore/ProyectoFinal-2/AppCoder/__pycache__/views.cpython-312.pyc
.gitignore/ProyectoFinal-2/AppCoder/admin.py
.gitignore/ProyectoFinal-2/AppCoder/apps.py
.gitignore/ProyectoFinal-2/AppCoder/migrations/__init__.py
.gitignore/ProyectoFinal-2/AppCoder/migrations/__pycache__/__init__.cpython-312.pyc
.gitignore/ProyectoFinal-2/AppCoder/models.py
.gitignore/ProyectoFinal-2/AppCoder/templates/AppCoder/padre.html
.gitignore/ProyectoFinal-2/AppCoder/tests.py
.gitignore/ProyectoFinal-2/AppCoder/urls.py
.gitignore/ProyectoFinal-2/AppCoder/views.py
.gitignore/ProyectoFinal-2/ejemplo_bd.py
.gitignore/ProyectoFinal-2/manage.py
.gitignore/ProyectoFinal-2/mi-base-de-datos.sqlite3
.gitignore/ProyectoFinal-2/ProyectoFinal/__init__.py
.gitignore/ProyectoFinal-2/ProyectoFinal/__pycache__/__init__.cpython-312.pyc
.gitignore/ProyectoFinal-2/ProyectoFinal/__pycache__/settings.cpython-312.pyc
.gitignore/ProyectoFinal-2/ProyectoFinal/__pycache__/urls.cpython-312.pyc
.gitignore/ProyectoFinal-2/ProyectoFinal/__pycache__/wsgi.cpython-312.pyc
.gitignore/ProyectoFinal-2/ProyectoFinal/asgi.py
.gitignore/ProyectoFinal-2/ProyectoFinal/settings.py
.gitignore/ProyectoFinal-2/ProyectoFinal/urls.py
.gitignore/ProyectoFinal-2/ProyectoFinal/wsgi.py
Ignore/ProyectoFinal-1/AppCoder/__init__.py
Ignore/ProyectoFinal-1/AppCoder/__pycache__/__init__.cpython-312.pyc
Ignore/ProyectoFinal-1/AppCoder/__pycache__/admin.cpython-312.pyc
Ignore/ProyectoFinal-1/AppCoder/__pycache__/apps.cpython-312.pyc
Ignore/ProyectoFinal-1/AppCoder/__pycache__/models.cpython-312.pyc
Ignore/ProyectoFinal-1/AppCoder/__pycache__/urls.cpython-312.pyc
Ignore/ProyectoFinal-1/AppCoder/__pycache__/views.cpython-312.pyc
Ignore/ProyectoFinal-1/AppCoder/admin.py
Ignore/ProyectoFinal-1/AppCoder/apps.py
Ignore/ProyectoFinal-1/AppCoder/migrations/__init__.py
Ignore/ProyectoFinal-1/AppCoder/migrations/__pycache__/__init__.cpython-312.pyc
Ignore/ProyectoFinal-1/AppCoder/models.py
Ignore/ProyectoFinal-1/AppCoder/templates/AppCoder/padre.html
Ignore/ProyectoFinal-1/AppCoder/tests.py
Ignore/ProyectoFinal-1/AppCoder/urls.py
Ignore/ProyectoFinal-1/AppCoder/views.py
Ignore/ProyectoFinal-1/db.sqlite3
Ignore/ProyectoFinal-1/manage.py
Ignore/ProyectoFinal-1/ProyectoFinal/__init__.py
Ignore/ProyectoFinal-1/ProyectoFinal/__pycache__/__init__.cpython-312.pyc
Ignore/ProyectoFinal-1/ProyectoFinal/__pycache__/settings.cpython-312.pyc
Ignore/ProyectoFinal-1/ProyectoFinal/__pycache__/urls.cpython-312.pyc
Ignore/ProyectoFinal-1/ProyectoFinal/__pycache__/wsgi.cpython-312.pyc
Ignore/ProyectoFinal-1/ProyectoFinal/asgi.py
Ignore/ProyectoFinal-1/ProyectoFinal/settings.py
Ignore/ProyectoFinal-1/ProyectoFinal/urls.py
Ignore/ProyectoFinal-1/ProyectoFinal/wsgi.py
Ignore/ProyectoFinal-2/AppCoder/__init__.py
Ignore/ProyectoFinal-2/AppCoder/__pycache__/__init__.cpython-312.pyc
Ignore/ProyectoFinal-2/AppCoder/__pycache__/admin.cpython-312.pyc
Ignore/ProyectoFinal-2/AppCoder/__pycache__/apps.cpython-312.pyc
Ignore/ProyectoFinal-2/AppCoder/__pycache__/models.cpython-312.pyc
Ignore/ProyectoFinal-2/AppCoder/__pycache__/urls.cpython-312.pyc
Ignore/ProyectoFinal-2/AppCoder/__pycache__/views.cpython-312.pyc
Ignore/ProyectoFinal-2/AppCoder/admin.py
Ignore/ProyectoFinal-2/AppCoder/apps.py
Ignore/ProyectoFinal-2/AppCoder/migrations/__init__.py
Ignore/ProyectoFinal-2/AppCoder/migrations/__pycache__/__init__.cpython-312.pyc
Ignore/ProyectoFinal-2/AppCoder/models.py
Ignore/ProyectoFinal-2/AppCoder/templates/AppCoder/padre.html
Ignore/ProyectoFinal-2/AppCoder/tests.py
Ignore/ProyectoFinal-2/AppCoder/urls.py
Ignore/ProyectoFinal-2/AppCoder/views.py
Ignore/ProyectoFinal-2/ejemplo_bd.py
Ignore/ProyectoFinal-2/manage.py
Ignore/ProyectoFinal-2/mi-base-de-datos.sqlite3
Ignore/ProyectoFinal-2/ProyectoFinal/__init__.py
Ignore/ProyectoFinal-2/ProyectoFinal/__pycache__/__init__.cpython-312.pyc
Ignore/ProyectoFinal-2/ProyectoFinal/__pycache__/settings.cpython-312.pyc
Ignore/ProyectoFinal-2/ProyectoFinal/__pycache__/urls.cpython-312.pyc
Ignore/ProyectoFinal-2/ProyectoFinal/__pycache__/wsgi.cpython-312.pyc
Ignore/ProyectoFinal-2/ProyectoFinal/asgi.py
Ignore/ProyectoFinal-2/ProyectoFinal/settings.py
Ignore/ProyectoFinal-2/ProyectoFinal/urls.py
Ignore/ProyectoFinal-2/ProyectoFinal/wsgi.py
